@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Ariel,sans-serif;
    padding: 1.5em;

.topSection{
    text-align: center;
}
}



header{

    margin-left: -12px;
}

.nameOfBrand{
    background: #dark;
    text-align: center;
    font-family: Times New Roman;
}

.signUp{
    float: right;
}
.topSection{
    font-family: gutter;
    color: rgb(33, 37, 41);
}
